<h2>Welcome, <%= @provider.name %></h2>

<br>

<form action="/patients/new">
  <input type="submit" value="Add a Patient">
</form>

<br>

<h3>Your Patients:</h3>
<ul>
  <% @patients.sort_by{|p| p.name}.each do |patient| %>
    <li><%= patient.name %></li>
  <% end %>
</ul>

<br><br>

<form action="/logout">
  <input type="submit" value="Log Out">
</form>
