<h2>Welcome, <%= @provider.name %></h2>

<br>

<form action="/patients/new">
  <input type="submit" value="Add a Patient">
</form>

<h3>Your Patients:</h3>
<ul>
  <% @patients.sort_by{|p| p.name}.each do |patient| %>
    <li>
      <a href="/patients/<%= patient.id %>"><%= patient.name %></a>
      <% list = [] %>
      <% patient.conditions.each do |c| %>
        <% list << c.treated %>
      <% end %>
      <% if list.include?(false) %>
        - Needs Treatment
      <% end %>
    </li>
  <% end %>
</ul>
