<h3>Add a Condition</h3>

<form method="post" action="/conditions">
  <label>Select a Condition: </label>
  <input type="radio" name="condition[name]">

  <br><br>

  <label>Or Add New Condition: </label>
  <input type="text" name="condition[name]" placeholder="Condition Name">

  <br><br>

  <label>Date Diagnosed: </label>
  <input type="text" name="condition[date_diagnosed]" placeholder="01/15/2018">

  <br><br>

  <label>Treated: </label>
  <input type="radio" name="condition[phone]">

  <br><br>

  <input type="submit" value="Create Patient">
</form>
