<br>

<form action="/providers/home">
  <input type="submit" value="Return to Patient List">
</form>

<h3>Create a Patient</h3>

<br>

<form method="post" action="/patients">
  <label>Name: </label>
  <input type="text" name="patient[name]" placeholder="Full Name" required>

  <br><br>

  <label>Date of Birth: </label>
  <input type="text" name="patient[dob]" placeholder="04/15/1970" required>

  <br><br>

  <label>Phone Number: </label>
  <input type="text" name="patient[phone]" placeholder="555-555-5555" required>

  <br><br>

  <input type="submit" value="Create Patient">
</form>
