<h2><%= @patient.name %></h2>

<h3>Conditions:</h3>
<ol>
  <% @conditions.each do |condition| %>
    <li><%= condition.name %></li>
  <% end %>
</ol>

<br>

<form action="/patients/<%= @patient.id %>/edit">
  <input type="submit" value="Edit Patient">
</form>

<form action="/patients/delete">
  <input type="submit" value="DELETE Patient">
</form>

<br><br>

<form action="/providers/home">
  <input type="submit" value="Return to Patient List">
</form>
