<!DOCTYPE html>
<html>
  <head>
    <title>Dermatology Treatment Tracker</title>
  </head>

  <body>

    <% if Helpers.is_logged_in?(session) %>
      <%= yield %>
    <% else %>
      <% erb :index %>
    <% end %>

  </body>
</html>
